html, body{
  height: 100%;
  overflow: hidden;
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;

}

@font-face {
  font-family: VCR;
  src: url(VCR_OSD_MONO.ttf);
}

.page{
    height: 100%;
    width: 100%;
    z-index: 4;

    }
.blue-bg{
  height: 100%;
  background-color: #020202;
  z-index: -20 !important;
  position: relative;

}

#dudu-logo{
    background-color: blue;
    display: flex;
  justify-content: center;
}


.green-text{
  background: -webkit-radial-gradient(#7cef9a 5%, #378445 285%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: VCR;
    filter: drop-shadow(0.15rem -0.25rem  #000);


}
h1{
  font-size: 15vh;
  color: #fff;
    font-family: VCR;
  position: absolute;
  top:25%;
text-align: center;
z-index: 4;
filter: drop-shadow(2px -4px  #000);
width: 100%;
cursor: pointer;
}

h1:hover{
  color: #7cef9a;
}

#chNum{
  position: absolute;
  font-size: 10vh;
    top: 5%;
  left: 5%;
  z-index: 5;
}
#clock{
  font-family: VCR;
  position: absolute;
  font-size: 6vh;
    bottom: 5%;
  left: 5%;
  z-index: 1;
color: #f0f0f0;
}

#remote{
    position: absolute;
  height: 20%;
  width: auto;
  text-align: center;
  /* line-height: 80%; */
  top: 20%;
  right:  3%;
    font-size: 8vh;
  z-index: 4;

}

#ch-up{
  cursor: pointer;
}
 #ch-down{
   cursor: pointer;
 }

 #noise{
      /* background-color:  red; */
   width: 100%;
   height: 100%;
   z-index: 10;
   position: absolute;
   background-size: 100%;
   background-image: url(download2.png);
   background-blend-mode: normal;
opacity: 1;
   -moz-animation: noise 200ms infinite linear;
   -o-animation: noise 200ms infinite linear;
   -webkit-animation: noise 200ms infinite linear;
   animation: noise 200ms infinite linear;

 }

 .ch-content{
   height: 100%;
   width: 100%;
   z-index: 0;
        }

.ch-bg{
position: absolute;
width: 100%;
right: 0;
top: 0;
min-width: 100%;
min-height: 100%;
object-fit: cover;
z-index: -5;
}

.gify{
position: absolute;
width: 100%;
height: auto;
}

.static-img{
  position: absolute;
  width: 100%;
  height: auto;
  }

.text-container{
  display: inline-grid;
  position:absolute;
   max-width: 60%;
    min-height: 50%;
     top:10%;
      left: 30%;
       gap: 40px;
}
  .text-img{
    position: relative;
    width: 100%;
    height: auto;
    }




.ch-logo{
  position: absolute;
  width: 100%;
  height: auto;
    top:8%;
   right:8%;
  max-width: 12vh;
}

#c00{
background-color:  black !important;
}

#c01{
/* background-color:  red; */
}

#c02{
/* background-color:  blue; */
}

#c03{
/* background-color:  green; */
}

#c04{
/* background-color:  pink; */
}




video{
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -5;
  object-fit: cover;
}

video[poster]{
object-fit: cover;
height:100%;
width:100%;
}

.over-effects{
  pointer-events: none;
  z-index: 3;
}
.error-noise {
  pointer-events: none;
      position: absolute;
    width: 100%;
    height:100%;
    overflow: hidden;
    /* border-radius: 5% / 50%; */
    }

.error-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border-radius: 50% / 5%; */
    /* background: #111; */
    background-image: url(download.png);
    background-blend-mode: multiply;
    background-size: 80%;
    -moz-animation: noise 200ms infinite linear;
    -o-animation: noise 200ms infinite linear;
    -webkit-animation: noise 200ms infinite linear;
    animation: noise 200ms infinite linear;

}

    .error-effect::before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 20%;
        background: rgba(255,255,255,0.2);
        -moz-animation: noiseeffect 4000ms infinite linear;
        -o-animation: noiseeffect 4000ms infinite linear;
        -webkit-animation: noiseeffect 4000ms infinite linear;
        animation: noiseeffect 4000ms infinite linear;
        /* border-radius: 50% / 5%; */
    }

    .error-effect::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(transparent 50%, rgba(0,0,0,0.8)), linear-gradient(rgba(255,255,255,0.4) 10%, transparent);
        box-shadow: inset 0 5px 25px rgba(255,255,255,0.2), inset 5px 0 15px rgba(255,255,255,0.2), inset -5px 0 15px rgba(255,255,255,0.1), 0 0 10px rgba(0,0,0,1), inset 0 200px 5px rgba(255,255,255,0.05);
        /* border-radius: 50% / 5%; */
    }

.old-tv-content {
pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 40px 20px;
    background-size: 100%;
    /* border-radius: 50% / 5%; */
    /* -webkit-filter: grayscale(1) brightness(1.2) contrast(1.5); */
    -moz-animation: crt-image 20ms alternate infinite;
    -o-animation: crt-image 20ms alternate infinite;
    -webkit-animation: crt-image 20ms alternate infinite;
    animation: crt-image 20ms alternate infinite;
  opacity: 0.8;
}

    .old-tv-content::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        background: repeating-linear-gradient(0, #FFF, #FFF 2px, transparent 4px );
        opacity: 0.2;
        border-radius: 50% / 5%;
        -moz-animation: crt-pixels 20ms alternate infinite;
        -o-animation: crt-pixels 20ms alternate infinite;
        -webkit-animation: crt-pixels 20ms alternate infinite;
        animation: crt-pixels 20ms alternate infinite;
    }

@keyframes crt-image {
    0% {
        transform: translateY(-1px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes crt-pixels {
    0% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes noise {
    0% {
        background-position: 0px 1000px;
    }

    50% {
        background-position: -1000px;
    }

    100% {
        background-position: 100px 0px;
    }
}

@keyframes noiseeffect {
    0% {
        top: -20%;
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    80% {
        opacity: 0;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}
#white-box{
  top:50%;
    position: absolute;
  background-color: white;
  width: 0%;
  height: 0%;
  z-index: 10;
  opacity: 0;
  transform-origin: 50% 50%;
}

.animate{
  animation: turn-on 0.5s;
}

@keyframes turn-on {
0%{
  opacity: 0;
  width: 0%;
  height: 0%;
}
2%{
  opacity: 1;
  width: 2%;
  height: 2%;
}
30%{
  width: 80%;
  height: 2%;
}
50%{
  width: 90%;
  height: 2%;
}

98%{
  top:0%;
  height: 100%;
  opacity: 100;
  width: 100%;

}
100%{
  opacity: 0;

}
}
